.counterBox {
  background-image: url(../../assets/images/count-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.counterBox h4 {
  font-size: 3rem;
  font-weight: bold;
}
.counterBox p {
  color: #fff;
  font-size: 18px;
  font-family: 'Gotham';
  font-weight: 500;
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
  .counterBox {
    margin-top: -30px !important;
  }
  .counterBox img {
    width: 40% !important;
  }
  .counterBox h4 {
    font-size: 1.5rem;
  }
  .counterBox p {
    color: #fff;
    font-size: 16px;
  }
}
