.serv6 .Title{
    background-color: #EAEAEA;
    /* height: 80vh ; */
    /* padding-top: 20vh; */
    position: relative;
}
.serv6 .Title h3{
    color: #B87EB7;
    /* font-size: 4.4vw; */
}
.serv6 .Title .pat1{
    bottom: 0;
    left: 38vw;
    width: 18%;
}
.serv6 .Title .pat2{
    bottom: 35vh;
    width: 11%;
    left: 59vw;
}
.serv6 .Title .pat3{
    bottom: 35vh;
    width: 12%;
    left: 72vw;
}
.serv6 .ser6_arab .pat1{
    bottom: 0;
    left: 4vw;
    width: 18%;
}
.serv6 .ser6_arab .pat2{
    bottom: 35vh;
    width: 11%;
    left: 30vw;
}
.serv6 .ser6_arab .pat3{
    bottom: 35vh;
    width: 12%;
    left: 71%;
}

.serv6 .section-cards
{
    /* background-color: #fff; */
    padding: 3rem 0;
}
.serv6 .section-cards .point h4{
    color: #79C95F;
    font-size: 2vw;
}
.serv6 .btn-hero {
    background-color: #61b848;
    color: #fff;
    padding: 1vh 1vw;
    font-size: 85%;
    /* margin-top: 4vh; */
    font-weight: 500;
    border: 0;
    border-radius: 5px;
  }
  .serv6 .whatsapp {
    width: 12%;
  }
.serv6 .section-cards .point p{
    color: #fff;
    font-size: 1.2vw;
    font-weight: 200;
    font-family: 'Gotham';
}
@media only screen and (max-width: 769px) and (min-width: 426px) {
    .serv6 .Title .pat2 {
        bottom: 10vh;
    }
    .serv6 .section-cards .point p{
        font-size: 2.1vw;
    }
    .serv6 .Title .pat3 {
        bottom: 8vh;
    }
}
@media only screen and (max-width: 425px) and (min-width: 320px) {
    .Title{
        /* height: 45vh !important; */
        /* padding-top: 17vh !important ; */
    }
    .serv6 .section-cards .point h4{
        font-size: 5vw;
    }
    .serv6 .section-cards .point p{
        font-size: 4vw;
    } 
    .serv6 .Title .pat2{
        bottom: 60px;
        width: 11%;
        left: 59vw;
    }
    .serv6 .Title .pat3{
        bottom: 60px;
        width: 12%;
        left: 72vw;
    }

    .serv6 .ser6_arab .pat1{
        bottom: 0;
        left: 4vw;
        width: 18%;
    }
    .serv6 .ser6_arab .pat2{
        bottom: 9vh;
        width: 11%;
        left: 30vw;
    }
    .serv6 .ser6_arab .pat3{
        bottom: 50px;
        width: 12%;
        left: 45vw;
    }
    .serv6 .btn-hero {
        font-size: 10px;
    }
    
}

.point .row_title {align-items: center;justify-content: space-between;}