.serv1{
    /* font-family: 'GothamThin'; */
    position: relative;

}
.serv1 .Title {
    background-color: #EAEAEA;
    /* height: 80vh; */
    /* padding-top: 20vh; */
    position: relative;
}
.serv1 .Title .meet {
    margin: 0 auto;
}
.serv1 .title_arab_v{
    height: 100vh;
    padding-top: 110px;
}

.serv1 .Title h3{
    color: #B87EB7;
    font-size: 3rem;
    /* position: absolute; */
}
.Title {
    padding-top: 120px;
}
.serv1 .Title .pat1{
    bottom: 0;
    left: 10vw;
}
.serv1 .Title .pat2{
    bottom: 0px;
    width: 600px;
    right: 20%;
}
[class^="serv"] .Title h3 {
    font-size: 3rem;
}

/* body [class^="serv"] .Title {
    height: 800px;
} */
@media only screen and (min-width: 320px) and (max-width: 768px) {
    .meet img {
        width: 100% !important;
    }
    body [class^="serv"] .Title {
        height: auto;
    }
    .serv1 .Title .pat2{
    width: auto;
    }
    .Title {
        padding-top: 90px;
    }
    .Title .row.py-5 {
        padding-top: 0rem!important;
        padding-bottom: 0rem!important;
    }
    .serv1 .Title img.pat3 {
        height: 40% !important;
    }
    [class^="serv"] .Title h3 {
        font-size: 2rem;
    }

    /**/

    .serv2 .Title .pat1 {
        left: 10%;
        width: 40% !important;
    }

    body .serv6 .Title .pat1 {
        bottom: 0;
        left: 20px;
        width: 38%;
    }
    body .serv6 .Title .pat2 {
        bottom: 60px;
        width: 31%;
        left: 160px;
    }
}
.serv1 .Title .pat3 {
    bottom: 0;
    right: 0;
    height: 70%;
    width: auto;
}

.serv1 .section-cards
{
    /* background-color: #fff; */
    padding: 3rem 0;
}
.serv1 .section-cards .point h4{
    color: #79C95F;
    font-size: 2vw;
    font-family: 'Gotham';

}
.serv1 .section-cards .point p{
    color: #fff;
    font-size: 1rem;
    font-weight: 200;
    font-family: 'Gotham';
}
 .btn-hero {
    background-color: #61b848;
    color: #fff;
    padding: 1vh 1vw;
    font-size: 85%;
    font-weight: 500;
    position: fixed;
    z-index: 2;
    right: 25px;
    bottom: 115px;
    border: 0;
    border-radius: 46px;
    transform-style: preserve-3d;
    transition: transform 0.3s cubic-bezier(0,0,0.58,1),
      background 0.3s cubic-bezier(0,0,0.58,1);
  }
  .btn-hero:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #B87EB7;
    border-radius: inherit;
    transform: translate3d(0, 0.5em, -1em);
    transition: transform 0.3s cubic-bezier(0,0,0.58,1);
  }
  .btn-hero:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    filter: blur(4px);
    border-radius: inherit;
    top: 0;
    left: 0;
    transform: translate3d(0, .7em, -1em);
    transition: transform 0.3s cubic-bezier(0,0,0.58,1);
  }
  .btn-hero:hover {
    transform: translateY(-0.25em);
  }
  .btn-hero:hover:before {
    transform: translate3d(0, 0.75em, -1em);
  }
  .btn-hero:hover:after {
    transform: translate3d(0, 1.05em, -1em);
  }
  .btn-hero:active {
    transform: translate(0, 0.5em);
  }
  .btn-hero:active:before,
  .btn-hero:active:after {
    transform: translate3d(0,0,-1em);
  }
  .whatsapp {
    width: 45%;
  }

@media only screen and (max-width: 769px) and (min-width: 426px) {

    .title_arab_v{
        padding-bottom: 10vh;
    }
    .serv1 h3{
        margin-bottom: 64px;
    }
    .serv1 .section-cards .point h4 {
        color: #79C95F;
        font-size: 4vw;
    }
}

@media only screen and (max-width: 426px) and (min-width: 320px) {
     .Title{
        height: 55vh;
        /* padding-top: 17vh !important ; */
    }
    .title_arab_v{
        padding-bottom: 6vh;
    }
    .serv1 .section-cards .point h4{
        font-size: 5vw;
    }
    .serv1 .section-cards .point p{
        font-size: 1rem;
    }
    /* .serv1 .btn-hero {
        font-size: 10px;
        margin-top: 3vh;
    } */
}
.section-cards .point p{
    font-size: 1rem;
}